@model WanderlustRealms.Models.Rooms.RoomArea

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>RoomArea</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RoomAreaID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinLevel" class="control-label"></label>
                <input asp-for="MinLevel" class="form-control" />
                <span asp-validation-for="MinLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxLevel" class="control-label"></label>
                <input asp-for="MaxLevel" class="form-control" />
                <span asp-validation-for="MaxLevel" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPremium" /> @Html.DisplayNameFor(model => model.IsPremium)
                </label>
            </div>
            <input type="hidden" asp-for="RoomKingdomID" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

