@model WanderlustRealms.Models.Living.NPC

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>NPC</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsTrainer" /> @Html.DisplayNameFor(model => model.IsTrainer)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsUnique" /> @Html.DisplayNameFor(model => model.IsUnique)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsQuestNPC" /> @Html.DisplayNameFor(model => model.IsQuestNPC)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsShopKeep" /> @Html.DisplayNameFor(model => model.IsShopKeep)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDesc" class="control-label"></label>
                <input asp-for="ShortDesc" class="form-control" />
                <span asp-validation-for="ShortDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Keywords" class="control-label"></label>
                <input asp-for="Keywords" class="form-control" />
                <span asp-validation-for="Keywords" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RaceID" class="control-label"></label>
                <select asp-for="RaceID" class="form-control" asp-items="ViewBag.RaceID"></select>
            </div>
            <div class="form-group">
                <label asp-for="GoodAlignment" class="control-label"></label>
                <input asp-for="GoodAlignment" class="form-control" />
                <span asp-validation-for="GoodAlignment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderAlignment" class="control-label"></label>
                <input asp-for="OrderAlignment" class="form-control" />
                <span asp-validation-for="OrderAlignment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxHP" class="control-label"></label>
                <input asp-for="MaxHP" class="form-control" />
                <span asp-validation-for="MaxHP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxMP" class="control-label"></label>
                <input asp-for="MaxMP" class="form-control" />
                <span asp-validation-for="MaxMP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Durability" class="control-label"></label>
                <input asp-for="Durability" class="form-control" />
                <span asp-validation-for="Durability" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dexterity" class="control-label"></label>
                <input asp-for="Dexterity" class="form-control" />
                <span asp-validation-for="Dexterity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Charisma" class="control-label"></label>
                <input asp-for="Charisma" class="form-control" />
                <span asp-validation-for="Charisma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Intellect" class="control-label"></label>
                <input asp-for="Intellect" class="form-control" />
                <span asp-validation-for="Intellect" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Willpower" class="control-label"></label>
                <input asp-for="Willpower" class="form-control" />
                <span asp-validation-for="Willpower" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Intuition" class="control-label"></label>
                <input asp-for="Intuition" class="form-control" />
                <span asp-validation-for="Intuition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

