@model WanderlustRealms.Models.Skills.RaceSkill

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RaceSkill</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RaceID" class="control-label"></label>
                <select asp-for="RaceID" class ="form-control" asp-items="ViewBag.RaceID"></select>
            </div>
            <div class="form-group">
                <label asp-for="SkillID" class="control-label"></label>
                <select asp-for="SkillID" class ="form-control" asp-items="ViewBag.SkillID"></select>
            </div>
            <div class="form-group">
                <label asp-for="StartingBonus" class="control-label"></label>
                <input asp-for="StartingBonus" class="form-control" />
                <span asp-validation-for="StartingBonus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RateModifier" class="control-label"></label>
                <input asp-for="RateModifier" class="form-control" />
                <span asp-validation-for="RateModifier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

