@model WanderlustRealms.Models.Rooms.RoomExit

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Room Exit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ExitDesc" class="control-label"></label>
                <input asp-for="ExitDesc" class="form-control" />
                <span asp-validation-for="ExitDesc" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsHidden" /> @Html.DisplayNameFor(model => model.IsHidden)
                </label>
            </div>
            <input type="hidden" asp-for="CurrentRoomID" />
            <div class="form-group">
                <label asp-for="TargetRoomID" class="control-label"></label>
                <select asp-for="TargetRoomID" asp-items="@ViewBag.TargetRoomList" class="form-control"></select>
                <span asp-validation-for="TargetRoomID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

