
@{
    ViewData["Title"] = "Administrator Menu";
}

    <div class="container">
        <div class="card">
            <h4 class="card-header"></h4>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <ul>
                            <li>
                                <a class="nav-link text-dark" asp-controller="Bodies" asp-action="Index">Body</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-controller="Limbs" asp-action="Index">Limbs</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-controller="Races" asp-action="Index">Races</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-controller="BodyLimbJoins" asp-action="Index">Match Limbs to Bodies</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-controller="PlayerBackgrounds" asp-action="Index">Backgrounds</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-controller="RaceBackgrounds" asp-action="Index">Race Backgrounds</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-controller="BackgroundSkills" asp-action="Index">Background Skills</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-controller="Skills" asp-action="Index">Skills</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-controller="RaceSkills" asp-action="Index">Race Skills</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-controller="BackgroundSkills" asp-action="Index">Background Skills</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-controller="HelpItems" asp-action="Index">Help</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-controller="RoomKingdoms" asp-action="Index">Kingdoms</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-controller="NPCs" asp-action="Index">NPCs</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-controller="Items" asp-action="Index">Items</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-controller="Weapons" asp-action="Index">Weapons</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-controller="Armors" asp-action="Index">Armor</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-controller="GameActions" asp-action="Index">Game Actions</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-controller="Shops" asp-action="Index">Shops</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-controller="Languages" asp-action="Index">Languages</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

